@use "../heleprs" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-family-second);
  font-weight: 300;
  font-size: fluid(18px, 22px, 768px, 1024px);
  line-height: 1.4;
  color: var(--color-grey-700);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  --container-width: 1110px;
  --container-padding-x: 16px;
  --container-padding-y: 100px;

  display: grid;
  gap: rem(32px);
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  width: 100%;
  padding-inline: var(--container-padding-x);
  padding-block: var(--container-padding-y);
  margin-inline: auto;

  @include tablet {
    --container-padding-x: 40px;
    --container-padding-y: 120px;

    gap: rem(12px);
  }

  @include desktop {
    --container-padding-x: 165px;
    --container-padding-y: 180px;

    gap: rem(32px);
  }
}

.visually-hidden {
  @include visually-hidden;
}